/* Fonts */
@font-face{
    font-family: 'Craie';
    src: url(fonts/craie.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'Craie';
    src: url(fonts/craie.ttf);
    font-style: italic;
    font-weight: normal;
}
@font-face{
    font-family: 'Craie';
    src: url(fonts/craie.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face{
    font-family: 'Craie';
    src: url(fonts/craie.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face{
    font-family: 'Inria';
    src: url(fonts/InriaSerif-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'Inria';
    src: url(fonts/InriaSerif-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}
@font-face{
    font-family: 'Inria';
    src: url(fonts/InriaSerif-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face{
    font-family: 'Inria';
    src: url(fonts/InriaSerif-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}
/* Header */
header{
    display:flex;
    background-image:url(img/header.png);
    background-size:cover;
    height:300px;
    border-bottom:5px solid white;
}

.sec-header{
    background:rgba(255, 255, 255, 0.685);
    width:100%;
    flex-direction:column;
    text-align:center;
    align-self: center;

}
.sec-header h1{
    align-items: center;
    font-size:2em;
    color:rgb(43, 42, 42);
}
.sec-header p{
    align-items:center;
    font-size:1.1em;
    color:rgb(20, 20, 20);
}

/*Body*/
body{
    background:#FAC08E;
    font-family: 'Inria', sans-serif;
}
a{
    color:#524849;
}
/*Img head */
.imgself{
    display:flex;
    justify-content: center;
}
.imgself img{
    width:30%;
    border:5px solid white;
    border-radius:160px;
    margin-top:-50px;
}

/*Nav*/
.nav1{
    font-size:1.5em;
    text-transform:uppercase;
    line-height:1.7;
    margin-top:20px;
    text-align:center;
    font-weight:bold;
    padding: 0% 10%;
}
.nav1 ul{
    background:rgba(255, 226, 188, 0.863);
    border-radius: 10px;
}
.nav1 ul li:first-child{
    border-bottom:1px solid white;
}

.navcat{
    padding: 0% 10%;
    font-size:1.5em;
    text-transform:uppercase;
    line-height:1.7;
    margin-top:20px;
    font-weight:bold;
    margin-bottom:15%;
}
.navcat ul{
    background:rgba(255, 226, 188, 0.863);   
    border-radius:10px;
}
.navcat ul li{
    border-bottom: 1px solid white;
}

/*Diap1*/

.bg1{
    border-top:10px solid white;
    background-image:url(img/banner.png);
    background-size:cover;
    background-repeat: no-repeat;
    height:650px;
}
.diap1{
    font-family: 'Craie', serif;
    line-height:1.4;
    color:white;
    height:650px;
    display:flex;
    flex-direction: column;
    padding:5% 3%;
    
}
.diap1 article{
    padding-bottom:6%;
    line-height:1.6;
}
.diap1 article h2{
    margin-bottom:15px;
    text-decoration:underline;
}
.titlediap{
    display:none;
}
/* About */
.aboutme{
    border-top:10px solid white;
    background-image:url(img/wall.png);
    background-size:cover;
    background-repeat:no-repeat;
    height:800px;
}
.aboutart h3{
    font-size:2em;
    color:white;
}
.aboutart{

    text-align:center;
    font-size:1.3em;
    line-height: 1.6;
    height:400px;
    color:rgb(16, 20, 24);
    background:rgba(165, 164, 164, 0.849);
}
.coord{
    text-align:center;
    font-size:1.3em;
    line-height: 1.6;
    height:400px;
    color:rgb(16, 20, 24);
    font-weight:bold;
    background:rgb(51, 51, 51);
    text-transform: uppercase;
}
.coord h3{
    font-size:2em;
    color:white;
}
.coord li:nth-child(6){
    color:red;
}

/* Footer */

footer{
    border-top:10px solid white;
    height:200px;
    background-image:url(img/footer.png);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    color:white;
    font-weight:bold;
}
.filterfoot{
    display:flex;
    justify-content: center;
    backdrop-filter: contrast(25%);
    height:200px;
}
.filterfoot section{
    text-align:center;
    align-self:flex-end:
    
}
.citation{
    padding-bottom:50px;
}
